# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Tests
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Project specific
config.yml
logs/
data/
*.db
trained_models/
